@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.flex {
    width: 100%;
}

.billboard {
    position: relative;
}

.startbutton a,
.startbutton a:link,
.startbutton a:visited {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    text-decoration: none;
    position: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 6em;
    height: 2em;
    text-align: center;
    font-size: 1.5em;
    font-family: "PT Sans Narrow", serif;
    padding: .3em;
}

.headline-button {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}


.headline {
    font-size: 1.8em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.header {
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 3em;
    top: 0;
    z-index: 1000;
}


.nav {
    list-style: none;
    text-align: center;
    margin: 0;
    padding:0;
}

.nav ul {
    text-align: center;
    margin-left: 0;
}

.nav li {
    margin: 0;
}

.nav a,
.nav a:link,
.nav a:visited {
    display: block;
    color: white;
    text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
    color: limegreen;
}

.backtotop {
    text-decoration: none;
    color: white;
    text-align:center;
}

.contentinfo {
    color: white;
    text-align: center;

}

hr {
    border: solid 1px black;
    
}

.skip-links {
    margin:0;
    padding:0;
    list-style-type: none;   
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: #000;
    color: #FFF;
    padding: 0.5e, 0.75em;
    font-weight: bold;
    text-align: none;
}

.skip-links a:focus {
    top: 0;
}

.logo {
    width: 180px;
}

body {
    margin:0;
    padding:0;
}

.footer {
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    bottom: 0;
}

.layouts {
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 328px;
}

.captions {
    text-align: center;
}

.copyright {
    color: #E2E2E2;
}

@media only screen and (min-width: 25em) {

    .nav li {
        display: inline-block;
        border: 0;
    }
    
    .nav {
        text-align: center;
    }
    
    .logo {
        float: center;
    }
    
    
    .headline {
        font-size: 2.5em;
    }
    
    .storepic {
        margin-left: auto;
        margin-right: auto;
    }

}

@media only screen and (min-width: 38em) {
    
    .navfooter {
        float: right;
    }
    
    .nav-top {
        margin-top: 1em;
    }
    
    .headline {
        font-size: 4em;
    }
    
    .logo {
        float: left;
    }
    
    .flex {
        margin-top: 6em;
    }
    
    .headline-button {
        padding-bottom: 2em;
       
    }
    
    .header {
        position: fixed;
    }

   
}

@media only screen and (min-width: 60em) {
    
    
     .nav-top {
        float: right;
        margin-top: 1em;
        margin-right: 3em;
    }
    
    .nav-bottom {
        float: right;
        margin-right: 3em;
        margin-top: 1em;
    }
    
    .contentinfo, .backtotop {
        float: right;
        margin-right: 7em;
    }
    
    .logo {
        float: left;
    }
    
    .flex {
        margin-top: .2em;
    }
    
    .headline-button {
        padding-bottom: 10em;
       
    }
    
    .review {
        -moz-column-count: 2;
       -moz-column-gap: 40px;
       -webkit-column-count: 2;
       -webkit-column-gap: 40px;
    }
        
}


